.bk {
  width: 100%;
  background: black;
  height: 800px;
}
.nuxus {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;

  h3 {
    margin-top: 50px;
    color: white;
    font-size: 48px;
  }
  .nexus__box {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    
  }
  .nexus__card {
    width: 360px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(82, 37, 180);
    gap: 20px;
    padding: 142px 27px;
    &:hover{
        background: gold;
        color: rgb(126, 53, 53);
    }
    p {
      font-size: 25px;
      text-align: center; 
    }
  }
}
